body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(28, 28, 28);
    color: #fff;
  }
  
  h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    font-family: 'Poppins', sans-serif;
  }

  h2 {
    color: red;
  }
  
  .highlight {
    color: red;
  }
  
  .portfolio, .projects {
    padding: 2rem;
  }
  
  .portfolio-cards {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
  }
  
  .portfolio-card {
    background-color: #2d2d2d;
    border-radius: 20px;
    padding: 1.5rem;
    width: 500px;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .portfolio-card:hover {
    transform: translateY(-10px);
  }
  
  .portfolio-card .icon{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: red;
  }
  
  .portfolio-card h2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
  }
  
  .portfolio-card p{
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }
  
  .projects {
    text-align: center;
  }
  
  .project-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
  }
  
  .project-item img {
    width: 95%;
    border-radius: 20px;
    transition: transform 0.3s ease;
    height: 80%;
  }
  
  .project-item img:hover {
    transform: scale(1.05);
  }