body {
    background-color: dimgray;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center
}
h3 {
    color: black;
    text-align: center;
    margin: 10px 0;
    font-size: 24px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.prio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.nprio {
    background-color: lightgrey;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 15px;
    width: 80%;
    max-width: 800px;
    text-align: center;
}
.box {
    width: 100%;
    border-radius: 8px;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
video {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}
h3 {
    font-size: 20px;
    margin-top: 10px;
    text-shadow: none;
}
h3 {
        font-size: 20px;
    }
 .back-to-projects {
    margin-top: 20px;
    text-align: center;
  }
  
  .back-to-projects a {
    text-decoration: none;
    color: white;
    background-color: #590000;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s;
  }
  
  .back-to-projects a:hover {
    background-color: #003C5A;
  }